/* body{
    background: lightgray;
} */
div{
    background: #f0f0f0;
}


a{
    text-decoration: none;
}
input,select{
    height: 45.8px;
    border: 2px solid#cccccc;
    border-radius: 5px;
    font-size: 16px;
    font-family:'Century Gothic', sans-serif;
    color: black;
}

#mailme,#textme,#save{
    height: 15px;
}